{
  "singleQuote": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^(vue/(.*)$)|^(vue$)",
    "^@vueuse/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@models/(.*)$",
    "^@messages/(.*)$",
    "^@common/(.*)$",
    "^@utils/(.*)$",
    "^@css/(.*)$",
    "^@components/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
